

#config.hidden{
    display: none;
}

#configButton{
    position: fixed;
    left: 1em;
    top: 1em;
    width: 4em;
    height: 4em;
    border: 3px solid #5252da;
    background-color: #6060ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: transform .3s;
    cursor: pointer;
    z-index: 4;
    padding: .5em;
}

#configButton img{
    width: 100%;
    height: 100%;
}

#configButton:hover{
    transform: scale(1.05);
}

#config{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #91b2ff;
    width: 100svw;
    height: 100svh;
    z-index: 3;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: max-content max-content;
    gap: 1em;
    padding: 2em;
    text-align: center;
}

#configContainer{
    display: flex;
    background-color: #87a6ec;
    height: 100%;
    width: 40em;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    border-radius: 10px;
}

#configContainer > div{
    border: 3px solid rgb(150, 150, 150);
    border-radius: 4px;
    padding: 1em;
    gap: 1em;
    width: 100%;
    max-width: 90svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#exportImportButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

#exportImportButtons button{
    background-color: #6060ff;
    color: white;
    padding: .4em;
    border: 3px solid#5252da;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
}

#exportImportButtons button:hover{
    transform: scale(1.05);
}

#inputFileContainer.hidden{
    display: none;
}

#inputFileContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

#inputFileContainer form input[type="submit"]{
    background-color: #6060ff;
    color: white;
    padding: .4em;
    border: 3px solid#5252da;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
}

#inputFileContainer form input[type="submit"]:hover{
    transform: scale(1.05);
}