body,
#root {

    height: 100svh !important;

}

#loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}


#loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    background-color: #6e92e8;
    border-radius: 12px;
    border: 5px solid #546eac;
    gap: 3em;
    padding: 4em 3em;
}

#loginForm h1 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0;
    margin: 0;
}

#loginForm form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

#loginForm form p {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: .5em;
    grid-template-columns: 1fr 1fr;
}

#loginForm form p label {
    text-align: right;
}

#loginForm form p input {
    border-radius: 10px;
    height: 2.8em;
    border: 2px solid rgb(117, 117, 117);
    padding: 0 .5em;
    font-size: 1rem;
}

#btnLogin {
    background-color: #2a4689;
    padding: .8em 1.3em;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    border: 3px solid #1a2e5d;
    transition: transform .3s;
    cursor: pointer;
}

#btnLogin:hover {
    transform: scale(1.05);
}

#msgCadastro {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
    font-size: 1.2rem;
}