body,
#root {

    height: 100svh !important;

}

#registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}


#registerForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    background-color: #6e92e8;
    border-radius: 12px;
    border: 5px solid #546eac;
    gap: 2em;
    padding: 4em 2em;
}

#registerForm h1 {
    text-align: center;
    font-size: 2.6rem;
    padding: 0;
    margin: 0;
}

#registerForm form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
}

#registerForm form p {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
}

#registerForm form p label {
    text-align: left;
}

#registerForm form p input {
    border-radius: 10px;
    height: 2.8em;
    border: 2px solid rgb(117, 117, 117);
    padding: 0 .5em;
    font-size: 1rem;
    width: 16em;
}

#btnRegister {
    background-color: #2a4689;
    padding: .8em 1.3em;
    margin: .5em;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    border: 3px solid #1a2e5d;
    transition: transform .3s;
    cursor: pointer;
}

#btnRegister:hover {
    transform: scale(1.05);
}

#msgLogin {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .2em;
    font-size: 1.2rem;
}