

.mensagem{
    position: fixed;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top;
    transform: translateX(-50%);
    transition: transform .3s;
    height: 2em;
    width: 25em;
    max-width: 90%;
    text-align: center;
    font-size: 1.4rem;
    background-color: #56f85e;
    color: #313131;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .18);
    z-index: 5;
}

.mensagem.hidden{
    display: flex !important;
    transform: translateX(-50%) scaleY(0);
}
