
#formHistoria {
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 4;
}

#formHistoria h2 {
    text-align: center;
    pointer-events: none;
}

#formPrincipalHistoria{
    width: 100svw;
    height: 100svh;
    position: relative;
    gap: 2em;
    background-color: #91b2ff;
    padding: 5em;
    font-size: 1.3rem;
    border: 5px solid black;
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;

}

#formHistoria form>div {
    display: flex;
    justify-content: space-between;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
}

select {
    width: 10em;
    height: 2em;
    font-size: 1.2rem;
    padding: 3px;
    border-radius: 6px;
}

#formHistoria form p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

#formHistoria form p input {
    height: 2em;
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 3px;
}

#formHistoria form input[type="submit"],
.buttonApagar {
    width: 5em;
    height: 2.5em;
    margin: auto;
    font-size: 1.2em;
    padding: .2em;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
    background-color: #829ee0;
    color: white;
    border: 3px solid #6488dd;
}

#formHistoria form input {
    width: 12em;
}

#formHistoria form input[type="submit"]:hover,
.buttonApagar:hover {
    transform: scale(1.05);
}

#fecharFormulario {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 1rem;
    transition: transform .3s;
    cursor: pointer;
    background-color: #829ee0;
    color: white;
    border: 3px solid #6488dd;
    padding: .5em;
    border-radius: 5px;
}

#fecharFormulario:hover {
    transform: scale(1.05);
}

.botoes {
    display: flex;
    gap: 1em;
}

.buttonApagar {
    display: none;
}


textarea {
    display: block;
    height: 100%;
    border-radius: 6px;
    padding: .4em;
    resize: none;
    font-size: 1.1rem;
}

#dataHistoria{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: .5em;
    padding-right: .5em;
}

@media (width < 700px) {
    #formHistoria form {
        padding: .3em;
    }
}

@media (width < 600px) {
    #formHistoria form > div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    #formHistoria form>div select,
    #formHistoria form>div input {
        width: 17em;
        max-width: 90%;
    }

    #formHistoria h2{
        margin-top: 1.5em;
    }

    html {
        overflow-y: auto;
    }
}